## Basic Syntax

In [ ]:
"""
Python was built on top of clean, readable and simple syntax philosophy
making it one of the easiest programming languagues out there to learn

Here we will use Google Colab environment for Python
"""

In [2]:
!nvidia-smi

Sun Feb 25 21:20:09 2024
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 535.104.05             Driver Version: 535.104.05   CUDA Version: 12.2     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  Tesla T4                       Off | 00000000:00:04.0 Off |                    0 |
| N/A   61C    P8              10W /  70W |      0MiB / 15360MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
|  No running processes found                                                           |
+---------------------------------------------------------------------------------------+

In [3]:
# Variable Assignment
# Commenting
# Basic Data Types

In [26]:
# Integer
number = 123

print(number)

123

In [27]:
# String
name = "abuzar"

print(name)

abuzar

In [29]:
# Boolean
a = True

print(a)

True

In [30]:
# Float

num = 1.3743

print(num)

1.3743

## Operators

In [8]:
# Arithmetic Operations

a = 10
b = 5

sum = a+b

subt = a-b

prod = a*b

div = a/b

print(sum)
print(subt)
print(prod)
print(div)

15
5
50
2.0

In [9]:
# Modulus Operator

print(7%5)

2

In [11]:
# Exponentiation Operator

print(2**2)

print(4**2)

4
16

In [5]:
# Comparison Operators

a = 2
b = 2
c = 5

print(a == b)
print(a == c)

True
False

In [6]:
print(a != c)

True

In [7]:
print(a > c)

False

In [8]:
print(a >= b)

True

In [9]:
# Assignment Operators

a = 10

a += 1

print(a)

11

In [11]:
## Other operators include Logical, Bitwise and Membership Operators

## Data Structures

In [12]:
# Arrays are a data type used to store a series of data in linear formation

numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [13]:
names = ["Arslan", "Humna", "Maryam", "Fatima"]

print(names)

['Arslan', 'Humna', 'Maryam', 'Fatima']

In [14]:
# Dictionaries are another data type used to store key value pairs

students = {"Apples" : 3,
            "Mangoes" : 5,
            "Bananas" : 8}

print(students)

{'Apples': 3, 'Mangoes': 5, 'Bananas': 8}

In [16]:
print(students["Apples"])

3

## Loops

In [17]:
"""
Loops are used to do repeated tasks
There are two basic types of loops in any programming language
"""

'\nLoops are used to do repeated tasks\nThere are two basic types of loops in any programming language\n'

In [19]:
# For Loops

fruits = ['apple', 'banana', 'orange']

for fruit in fruits:
    print(fruit)

apple
banana
orange

In [22]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(4, 10):
    print(i)

4
5
6
7
8
9

In [23]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [24]:
# While Loop : needs a condition

count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

## Conditionals

In [31]:
name = "abuzar"


if(name == "abuzar"):
    print("Student of Software Engineering")
else:
    print("Some other student")

Student of Software Engineering

In [34]:
num = 16

if(num % 2 != 0):
    print("Odd Number")
elif(num % 2 == 0):
    print("Even Number")

Even Number