## Functions

In [ ]:
"""
Functions are blocks of reusable code that can be used to perform a specific task
"""

In [36]:
def print_name():
    print("Muhammad Abuzar")

In [37]:
print_name()

Muhammad Abuzar

In [40]:
def raisedToPowerTwo(num):
    print(num**2)

raisedToPowerTwo(4)

16

In [41]:
def celsius_to_kelvin(celsius):
    kelvin = celsius + 273.15
    print(kelvin)

celsius_to_kelvin(2)

275.15

In [ ]:
"""
Task : Create a function that takes a student's name, his grades for 4 subjects
out of 10 individually, prints out his name, total and received grades, and average
"""

### Solution

In [55]:
def student_calculator(name, grade1, grade2, grade3, grade4):
    # Total marks are 40 for 4 subjects, obtained marks are
    obtained_marks = grade1 + grade2 + grade3 + grade4

    average = obtained_marks/4

    percentage = (obtained_marks / 40) * 100

    print("Student", name, "got a total of", obtained_marks, "out of 40 with an average of", average, "and a percentage of", percentage, "%")

In [56]:
student_calculator("Fatima", 8, 7, 5, 9)

Student Fatima got a total of 29 out of 40 with an average of 7.25 and a percentage of 72.5 %